
  <footer class="footer footer-default">
        <div class="container">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://www.fullstackpython.com/flask.html">
                  Learn Flask
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>document.write(new Date().getFullYear())</script> designed by 
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>, 
            Coded for tutorial: <a href="https://github.com/app-generator/flask-learn-by-coding">Flask - Learn by Coding</a>.
          </div>
        </div>
      </footer>

      