
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('/static/assets/img/profile_city.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Flask - Learn by Coding</h1>
          <h4>
            Open-Source app coded in <a style="color: white; font-weight: bold" href="http://flask.pocoo.org/">Flask</a> Microframework. 
            Read more about <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" style="color: white; font-weight: bold">Flask</a> , 
            Grab the <a style="color: white; font-weight: bold" href="https://github.com/app-generator/flask-learn-by-coding/">code</a>, or ...

          </h4>
          <br>
          <a href="https://www.youtube.com/watch?v=zP0R9qOKzuc" target="_blank" class="btn btn-danger btn-raised btn-lg">
            <i class="fa fa-music"></i> &nbsp;&nbsp; Argatu` - Haida
          </a>
        </div>
      </div>
    </div>
  </div>

  